extends layout

block content
  .content-header
    h2 BullMQ Dashboard
    p Quản lý queues, jobs và workers
  .content(style="padding: 0; overflow: hidden;")
    iframe.iframe-container(src=bullmqPath frameborder="0")
